@media screen and (min-width: 768px) {
  .header-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: linear-gradient(180deg, #000e31, rgba(0, 14, 49, 0));
    color: #fff;
    font-size: 24px;
    font-family: "Roboto mono";
  }

  nav {
    display: block;
  }

  nav ul {
    display: flex;
    padding: 0;
  }

  nav li {
    margin-right: 20px;
    cursor: pointer;
  }

  nav li:first-child {
    margin-top: 7px;
    margin-right: 95px;
  }

  nav li:nth-child(2) {
    margin-right: 75px;
  }

  nav li:nth-child(3) {
    margin-top: 18px;
    margin-right: 114px;
  }

  nav li:last-child {
    margin-top: 14px;
  }

  nav .logo {
    display: block;
    transform: scale(1.2) translateY(4px);
  }

  .burger-icon,
  .mobile-menu,
  .logo {
    display: none;
  }

  .hero {
    padding: 258px 20px 540px 20px;
    margin-top: -60px;
    color: #fff;
    font-size: 96px;
  }
  .hero span {
    color: #6400e3;
  }
  /* ------undrwater ------- */
  .undrwater-info {
    border-radius: 100px 0px 0px 100px;
    background: linear-gradient(90deg, rgba(0, 106, 160, 0.24) -3.56%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: row;
  }

  .underwater-container {
    padding: 70px;
    width: 1400px;
    margin: auto;
  }
  .underwater-title {
    color: #fff;
    text-align: center;
    font-family: Playfair Display;
    font-size: 60px;
    margin-bottom: 77px;
  }

  .underwater-info-pic {
    width: 550px;
    border-radius: 100px 0 0 100px;
  }

  .undrwater-info-container {
    padding: 30px;
    color: #79b7d2;
    font-family: Inter;
    font-size: 20px;
    text-align: right;
  }

  .undrwater-info-title {
    margin-bottom: 60px;
    font-size: 30px;
    text-align: start;
    color: #fff;
  }
  .underwater-info-descr {
    text-align: left;
  }
  .underwater button {
    margin-top: 60px;
    background-color: inherit;
    border-radius: 20px;
    border: 2px solid #fff;
    padding: 12px 24px 12px 100px;
    color: #d0f1ff;
    cursor: pointer;
  }
  .underwater button:hover,
  .underwater button:focus {
    background: #d0f1ff;
    color: rgba(0, 106, 160, 0.24);
  }

  /* -----sea life------ */
  .sealife-container {
    /* width: 1400px; */
    margin: auto;
    padding: 0 40px 40px;
  }
  .sealife-header {
    font-size: 60px;
    margin-bottom: 0;
    z-index: 2;

    transform: translateY(10px);
  }
  .sealife span {
    margin-left: 100px;
  }
  .sealife-list {
    flex-direction: row;
    border-radius: 100px;
    background: linear-gradient(-90deg, rgba(255, 0, 0, 0.79) -3.56%, rgba(255, 255, 255, 0) 100%);
  }
  .sealife-item {
    display: flex;
  }
  .sealife-item-reverse {
    flex-direction: row-reverse;
  }
  .sealife-img {
    width: 350px;
    height: 100%;
    object-fit: cover;
  }
  .sealife-item-title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .cuttle-title {
    text-align: left;
  }
  .octo-descr {
    color: #000;
    font-family: Source Serif Pro;
    font-size: 22px;
  }
  .octo-btn {
    border-radius: 20px;
    background: #5faee7;
    color: #fff;

    font-family: Pacifico;
    font-size: 24px;
    width: 100%;
    border: none;
    padding: 17px 45px;
    text-align: left;
  }
  .octo-img {
    border-radius: 100px 0 0 100px;
    /* transform: scaleY(1.05); */
    /* z-index: 1; */
  }
  .cuttlefish-img {
    transform: scaleX(-1);
    width: 341px;
  }
  .cuttle-descr {
    color: #fff;

    font-family: Inter;
    font-size: 25px;
  }
  .cuttle-btn {
    color: #fff;

    font-family: Caveat;
    font-size: 24px;
    border-radius: 20px;
    background: #e6e6e6;
    border: none;
    width: 100%;
    padding: 20px 40px;
  }
  .sealife-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .turtle-container {
    width: 1170px;
    margin: 0 auto;
  }
  .turtle-header {
    font-size: 65px;
    margin-bottom: 77px;
  }
  .turtle-content {
    display: flex;
  }
  .turtle-img {
    width: clamp(150px, 50%, 450px);
    height: 552px;
  }
  .turtle-img:first-of-type {
    border-radius: 100px 0 0 100px;
    transform: scaleY(1.1);
  }
  .turtle-img:last-of-type {
    border-radius: 0 0 100px 0;
    transform: scaleY(1.2) translateY(-25px);
  }
  .turtle-content {
    border-radius: 100px;
    background: linear-gradient(90deg, rgba(112, 255, 0, 0.85) -3.56%, rgba(255, 255, 255, 0) 100%);
  }
  .turtle-info {
    width: clamp(150px, 50%, 300px);
  }
  .turtle-info-header {
    font-size: 36px;
    margin-bottom: 60px;
  }
  .turtle-info-descr {
    font-size: 20px;
    z-index: 3;
    transform: scaleX(2) translateX(10px);
  }
  .seaweed-content {
    display: flex;
    flex-direction: row-reverse;
    width: 1170px;
    margin: auto;
  }
  .seaweed-info {
    padding: 70px;
  }
  .seaweed-img {
    width: clamp(150px, 50%, 600px);
    border-radius: 100px 100px 100px 0;
  }

  .seaweed--info-header {
    font-size: 30px;
  }
  .seaweed-info-descr {
    font-size: 20px;
  }
  .seaweed-content {
    border-radius: 100px;
  }
  .seaweed-dec {
    display: block;
  }

  .feedback-contaier {
    width: 900px;
    margin: auto;
  }
  .feedback-header {
    font-size: 70px;
    text-align: left;
    margin-left: 300px;
  }
  .feedback-header br {
    display: block;
  }
  .feedback-header span {
    font-size: 96px;
  }
  .feedback-form {
    margin-left: 200px;
  }
  .form-input {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  .form-input label {
    font-size: 48px;
    margin-bottom: 0;
    margin-right: 10px;
    /* text-align: right; */
  }
  br {
    display: block;
  }
  .form-input textarea {
    width: 100%;
    background: #ffd2f5;
    border-radius: 7px;
  }
  .form-input input {
    width: 76%;
    border-color: #000;
  }
  .form-btns {
    margin-top: -30px;
  }
  .form-btn:first-of-type {
    width: 900px;
    text-align: left;
    padding: 18px 0 10px 40px;
    font-size: 40px;
  }
  .form-btn:last-of-type {
    background: linear-gradient(90deg, #2f647b 0%, #5d7b88 48.44%, #ff1e54 100%);
    font-size: 40px;
  }
}
