body {
  margin: 0;
  font-family: "Inter", "Playfair Display", "Dangrek", "Roboto Mono", "Pacifico", "Caveat", "Source Serif Pro", "Anonymous Pro", sans-serif, serif,
    monospace, cursive;
  background: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background: linear-gradient(180deg, #000e31, rgba(0, 14, 49, 0));
  color: #fff;
  font-size: 24px;
  font-family: "Roboto mono";
  position: relative;
  z-index: 2;
}

.logo {
  color: #65d1ff;
  text-align: center;
  font-family: Dangrek;
  font-size: 16px;
  background: url(../img/bubble.png);
  background-size: cover;
  width: 60px;
  height: 60px;
  padding: 14px 0;
}

nav {
  display: none;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  padding: 40px 48px;
  z-index: 3;
}

.mobile-menu a {
  color: #fff;
  font-family: "Inter";
}
.mobile-menu a:hover,
.mobile-menu a:focus {
  color: #65d1ff;
}
.close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 30px;
}

.hero {
  background: url(../img/hero-img.jpg);
  background-size: cover;
  padding: 178px 20px 118px 20px;
  position: relative;
  margin-top: -60px;
  text-align: center;
  color: #fff;
  font-family: Playfair Display;
  font-size: 26px;
}

/* -----undrwater------ */

.underwater-container {
  padding: 60px 15px;
}
.underwater-title {
  color: #fff;
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  margin-bottom: 30px;
}
.undrwater-info {
  background-color: rgba(0, 106, 160, 0.24);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}
.underwater-info-pic {
  width: 100%;
  border-radius: 40px 40px 0 0;
}
.undrwater-info-container {
  padding: 30px;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  text-align: right;
}
.undrwater-info-title {
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
}
.underwater-info-descr {
  text-align: left;
}
.underwater button {
  margin-top: 30px;
  background-color: inherit;
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 12px 24px;
  color: #d0f1ff;
  cursor: pointer;
}
.underwater button:hover,
.underwater button:focus {
  background: #d0f1ff;
  color: rgba(0, 106, 160, 0.24);
}

/* ----- Sea life ----- */
.sealife-container {
  padding: 0 15px 60px 15px;
}

.sealife-header {
  color: #fff;
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  margin-bottom: 30px;
}
.sealife-list {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.79) -3.56%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 10px 4px 31px -11px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
.sealife-img {
  width: 100%;
  height: 300px;
}
.sealife-item-info {
  padding: 30px;
  text-align: right;
}
.sealife-item-title {
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
  font-family: "Playfair Display";
  color: #fff;
}

.sealife-item-descr {
  color: #fff;

  font-family: Inter;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: left;
}

.sealife-item-btn {
  margin-top: 30px;
  background-color: inherit;
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 12px 24px;
  color: #d0f1ff;
  cursor: pointer;
}
.cuttlefish-img {
  border-radius: 0 0 40px 40px;
}

.sealife-btn {
  color: #9fe2ff;

  font-family: Inter;
  font-size: 36px;
  margin-top: 30px;
  background: inherit;
  border-radius: 30px;
  border: 5px solid;
  border-image: linear-gradient(to right, #00ff38, #ff0000, #fa00ff);
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #00ff38, #ff0000, #fa00ff);
  padding: 20px 40px;
}
.sealife {
  text-align: center;
}
.turtle-container {
  padding: 0 15px 60px 15px;
}
.turtle-header {
  color: #fff;
  font-family: Caveat;
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}
.turtle-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.turtle-img:first-of-type {
  border-radius: 30px 30px 0 0;
}
.turtle-img:last-of-type {
  border-radius: 0 0 30px 30px;
}
.turtle-content {
  border-radius: 30px;
  background: linear-gradient(180deg, rgba(112, 255, 0, 0.85) -3.56%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 4px 73px 0px rgba(0, 0, 0, 0.25);
}
.turtle-info {
  padding: 30px;
  text-align: left;
}
.turtle-info-header {
  color: #c50000;
  font-family: Playfair Display;
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
}
.turtle-info-descr {
  color: #fff;
  font-family: "Source Serif Pro";
  font-size: 14px;
}

.seaweed-container {
  padding: 0 15px 60px 15px;
}
.seaweed-header {
  margin-bottom: 30px;
  color: #fff;
  font-family: Anonymous Pro;
  font-size: 36px;
  text-align: center;
}
.seaweed-content {
  background: rgba(255, 255, 255, 0.32);
  border-radius: 30px;
}
.seaweed-img {
  width: 100%;
  border-radius: 30px 30px 0 0;
}
.seaweed-info {
  padding: 30px;
}
.seaweed-info-header {
  color: #a00;

  font-family: Inter;
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
}
.seaweed-info-descr {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
}
.seaweed-dec {
  width: 300px;
  height: 300px;
  background-image: url(../img/seaweed-dec.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
  margin: 80px 15px;
}
.feedback-contaier {
  padding: 0 15px 60px 15px;
}
.feedback-header {
  font-family: Playfair Display;
  color: #fff;
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}
.feedback-header br {
  display: none;
}
.feedback-form {
  margin: auto;
  padding: 20px;
}
.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-input label {
  color: #fff;
  margin-bottom: 10px;
  font-family: Source Serif Pro;
  font-size: 28px;
}
.form-input input,
.form-input textarea {
  border: 1px solid #fff;
  background: rgba(23, 148, 173, 0.58);
  padding: 10px;
  color: #fff;
  font-family: Source Serif Pro;
}
.form-input input::placeholder,
.form-input textarea::placeholder {
  color: #fff;
}

.form-btns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.form-btn {
  width: 100%;
  background: linear-gradient(90deg, #24a8e0 0%, #81daff 48.44%, #24a8e0 100%);
  color: #fff;

  font-family: Pacifico;
  font-size: 18px;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
}
.form-btn:hover,
.form-btn:focus {
  background: linear-gradient(90deg, #2f647b 0%, #5d7b88 48.44%, #ff1e54 100%);
}
label br {
  display: none;
}
footer {
  background: linear-gradient(360deg, #c8d7ff 0%, #9b3434 100%);
  padding: 60px 15px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
footer nav {
  display: block;
  font-family: Playfair Display;
  font-size: 28px;
}
footer nav a {
  color: #fff;
  line-height: 1.2;
}
footer .logo {
  font-size: 24px;
  padding-top: 28px;
  width: 100px;
  height: 100px;
}
